<Files ~ "\.ht.*$">
order allow,deny
deny from all
</Files>
AuthUserFile /Users/RyutoIjichi/Desktop/your-coding/.htpasswd
AuthGroupFile /dev/null
AuthType Basic
AuthName "please enter your ID and password"
require valid-user